<!DOCTYPE html>
<html>
<head>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.3.0/dist/phaser.min.js"></script>
</head>
<body>
    <h1>PLAY FALLING STARS!!!</h1>
    <script src="./fallingStars/fallingStarsMain.js"></script>

</body>
</html>